.developer {
    padding: 30px 0;
    
    &__name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        text-align: center;
        letter-spacing: 0.03em;
        color: $maincolor;
    }

    &__position{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.187;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondarycolor;
        padding-top: 10px;
    }
}