.footer{
    background-color: $footercolor;

    @media screen and (max-width:480px) {
            padding-top: 60px;
            padding-bottom: 60px;
            }
    
    &__content{
        @extend %container;
        display: flex;
        height: 252px;

        @media screen and (max-width:480px) {
            display: block;
            width: 100%;
            height: 100%;
            }
    }
}

.footer-address,
.footer-social,
.footer-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width:480px) {
            display: block;
            width: 100%;
            text-align: center;
            }
}

.footer-address {
    margin-right: 70px;

    &__logo{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $white;
        padding-bottom: 20px;
    }


    &__label{
        color: $accentcolor;
    }

    &__location{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $white;

        @media screen and (max-width:480px) {
            margin-top: 20px;
            }
    }

    &__contact{
        font-style: normal;
    }

    &__item{
        display: block;
        padding-top: 9px;
    }

    &__link{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-social{

        @media screen and (max-width:480px) {
                padding-top: 60px;
                padding-bottom: 60px;
                }

    &__title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white;
        padding-bottom: 20px;
    }

    &__list{
        display: flex;
        
            @media screen and (max-width:480px) {
                justify-content: center;
                align-items: center;
                }
    }

    &__item{


        &:not(:last-child){
            margin-right: 10px;
        }
    }

    &__link{
        background: rgba(255, 255, 255, 0.1);
    }

    &__logo{
        fill: $white;
    }
}

.footer-subscribe{
    margin-left: auto;

    &__label{
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 20px;
    }

    &__input{
        width: 358px;
        height: 50px;
        padding: 15px 16px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color:$white;

            &::placeholder{
                background-color: transparent;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.03em;
                color: rgba(255, 255, 255, 0.6);
            }

            @media screen and (max-width:480px) {
            width: 450px;
            height: 50px;
            margin-bottom: 20px;
            }
    }

    &__button{
        display: inline-flex;
        width: 200px;
        color: #fff;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        margin-left: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        align-items: center;
        padding: 10px 28px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
            background-color: $accentactive;
        }
    }

    &__icon{
        margin-left: 10px;
    }
}