.logo{

    @media screen and (max-width:480px) {
            display: block;
            // margin: 16px 0;
        }

    &__label {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $black;
    }
    
    &__text {
        color: $accentcolor;
    }

    &--geometry{
    }
}