.header-contact{
    display: flex;
    margin-left: auto;

    @media screen and (max-width:480px) {
            display: none;
        }

    &__item{

        &:not(:last-child){
            margin-right: 50px;
        }
    }

    &__link{
        color: $secondarycolor;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
            color: $accentcolor;
        }

        &:visited{
            color: $secondarycolor;
        }

            &--decoration {
                display: flex;
                padding: 32px 0;
            }
    }

    &__icon{
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: $secondarycolor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);  
        
        .header-contact__link:focus &,
        .header-contact__link:hover &{
            fill: $accentcolor;
        }
    }
}