.header-nav{
    display: flex;


    @media screen and (max-width:480px) {
            display: none;
        }
        
    &__item{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $maincolor;
    }

    &__item:not(:last-child){
        margin-right: 50px;
    }

    &__link{
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $maincolor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover,
        &--current{
            color: $accentcolor;
        }

        &--current::after{
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $accentcolor;
            }
        
        &--decoration{
            display: flex;
            padding: 32px 0;
        }    
    }

    &--positioning{
        margin-left: 93px;
    }
}