$maincolor: #212121;
$secondarycolor: #757575;
$accentcolor: #2196F3;
$accentactive:#188CE8;
$mainbgcolor: #f5f5f5;
$secondarybgcolor: #F5F4FA;
$white: #ffffff;
$black: #000000;
$footercolor: #2F303A;
$modalOverlay: rgba(0, 0, 0, 0.2);
$cardsOverlay: rgba(33, 150, 243, 0.9);
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;